.headerHomePage{
    margin:0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
   border-bottom: 1px solid black;
}

.iconUserCircle{
     cursor: pointer;
}

.profilePictureImgHome{
     cursor: pointer;
     object-fit: cover;
     border-radius: 50%;
     width: 50px;
     height: 50px;
     border: 2px solid black;
}
