.header{
    margin-top: 30px;
    font-size: 30px;
    text-align: left;
    align-items: center;
    width: 100%;
    padding-left: 70px;

}

.profileFullContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-left: 50px;
    margin-top: 80px;
    padding-left: 120px;
    
}



.otherContainer{
    padding-right: 500px;
  
}

.user-name{
    font-size: 30px;
    margin-bottom: 15px;
    
}

.user-email{
    margin-bottom: 15px;
    border-bottom: 1px solid black;
    
}
.user-description{
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.user-study{
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}

.user-role{
    margin-bottom: 15px;
    font-style: italic;
    border-bottom: 1px solid black;
}
.editProfile{
    width: 100%;
}
.logout{
    width: 100%;
}

.profilePictureImg{
     cursor: pointer;
     object-fit: cover;
     border-radius: 50%;
     width: 150px;
     height: 150px;
     border: 2px solid black;
}

.editForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
   
}
.editButtons{
    width: 100%;
    margin: 0%;    
}
.cancelbutton, 
.saveButton{
    width: 100%;
}
.inputProfile{
    width: 100%;
}
.textareaProfile{
    width: 100%;
}